footer {
  background-color: #800000;
  color: white;
  padding: 20px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #ff6347;
}
